<% players = @info.nil? ? [] : @info[:rcon_players] %>
<% players.each do |player| %>
<%   matches = @info[:a2s_player].select{ |p| p['name'] == player['name'] } %>
<%   player['duration'] = matches.first['duration'] if matches.size == 1 %>
<% end %>
<div id="players" class="horizontal-expand">
  <div class="d-flex flex-column horizontal-expand my-2 mx-4" style="background-color:#43454f">
    <div class="row horizontal-expand m-1 p-1 align-items-center" style="background-color:#232323">
      <div class="col-3">Player</div>
      <div class="col-3">Score</div>
      <div class="col-3">Duration</div>
    </div>
    <% players.sort_by { |p| [p['score'].to_i, (p['duration'] || ''), p['name']] }.reverse.each_with_index do |player, i| %>
    <div class="row horizontal-expand m-1 p-1 align-items-center text-white" style="background-color:#<%= i.even? ? '393b44' : '535663'%>">
      <div class="col-3">
        <%= ('<span class="flag-icon flag-icon-' << player['country_code'] << '"></span> ') if player['country_code'] %><a target="<%= !@use_steam_urls ? '_blank' : '' %>" href="<%= !@use_steam_urls ? 'https://steamcommunity.com/profiles/' : 'steam://url/SteamIDPage/' %><%= player['steam_id'] %>"><img src="<%= player['steam_info']['avatar'] || '/custom/missing.png' rescue '/custom/missing.png' %>" width="32" height="32"> <%= CGI.escapeHTML (player['steam_info']['name'] || player['name'] rescue player['name']) %></a>
      </div>
      <div class="col-3"><%= player['score'] %></div>
      <div class="col-3"><%= player['duration'] %></div>
    </div>
    <% end %>
  </div>
</div>
