<div class="d-flex flex-column horizontal-expand mb-3">
  <div class="container-fluid d-flex justify-content-center bg-primary my-1">
    <h3 class="py-2">Server Config</h3>
  </div>
  <div class="d-flex flex-column horizontal-expand justify-content-between">

    <!-- Server Config Selection -->
    <div class="d-flex justify-content-between horizontal-expand bg-secondary my-1">
      <div class="p-2 col-2">Config Name</div>
      <div class="p-2 col">
        <input id="server-config-name" type="text" class="form-control server-config-text-input col-6" placeholder="<%= @config['server-config-name'] || 'Default' %>">
        <ul class="nav nav-pills col-6">
          <li class="nav-item dropdown horizontal-expand text-center">
            <a class="nav-link dropdown-toggle btn-sm btn-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true" onclick="loadServerConfigs();">Configs</a>
            <div class="dropdown-menu horizontal-expand" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <div id='server-configs' class="horizontal-expand d-flex flex-column">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-info m-1 ml-4" onclick="saveServerConfig();">Save All</button>
        </div>
      </div>
    </div>

    <!-- Server Hostname -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">Server Name</div>
      <div class="p-2 col">
        <input id="server_hostname" type="text" class="form-control server-config-text-input" placeholder="<%= @config['server_hostname'] %>">
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_hostname');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_hostname', $('#server_hostname').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- Server Password -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">Server Password</div>
      <div class="p-2 col-3">
        <input id="server_password" type="text" class="form-control server-config-text-input blur" placeholder="<%= @config['server_password'] %>">
      </div>
      <div class="p-2 col-3 d-flex justify-content-start">
        <button type="button" class="btn btn-sm btn-outline-warning horizontal-expand mx-1" onclick="generatePassword('#server_password');">Generate</button>
        <button type="button" class="btn btn-sm btn-outline-info horizontal-expand mx-1" onclick="copyToClipboard('#server_password', true);">Copy</button>
        <button id="server_password_revealer" type="button" class="btn btn-sm btn-success horizontal-expand mr-4" onclick="revealHide('#server_password', '#server_password_revealer');">Reveal</button>
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_password');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_password', $('#server_password').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- Game Port -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">Game Port</div>
      <div class="p-2 col">
        <input id="server_game_port" type="text" class="form-control server-config-text-input" placeholder="<%= @config['server_game_port'] %>">
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_game_port');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_game_port', $('#server_game_port').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- Query Port -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">Query Port</div>
      <div class="p-2 col">
        <input id="server_query_port" type="text" class="form-control server-config-text-input" placeholder="<%= @config['server_query_port'] %>">
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_query_port');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_query_port', $('#server_query_port').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- RCON Port -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">RCON Port</div>
      <div class="p-2 col">
        <input id="server_rcon_port" type="text" class="form-control server-config-text-input" placeholder="<%= @config['server_rcon_port'] %>">
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rcon_port');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rcon_port', $('#server_rcon_port').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- RCON Password -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">RCON Password</div>
      <div class="p-2 col-3">
        <input id="server_rcon_password" type="text" class="form-control server-config-text-input blur" placeholder="<%= @config['server_rcon_password'] %>">
      </div>
      <div class="p-2 col-3 d-flex justify-content-start">
        <button type="button" class="btn btn-sm btn-outline-warning horizontal-expand mx-1" onclick="generatePassword('#server_rcon_password');">Generate</button>
        <button type="button" class="btn btn-sm btn-outline-info horizontal-expand mx-1" onclick="copyToClipboard('#server_rcon_password', true);">Copy</button>
        <button id="server_rcon_password_revealer" type="button" class="btn btn-sm btn-success horizontal-expand mr-4" onclick="revealHide('#server_rcon_password', '#server_rcon_password_revealer');">Reveal</button>
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rcon_password');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rcon_password', $('#server_rcon_password').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- RCON Enabled -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">RCON Enabled</div>
      <div class="col-2 justify-content-end">
        <div class="custom-control custom-switch p-2 mr-2">
          <input type="checkbox" class="custom-control-input server-config-checkbox-input" id="server_rcon_enabled"<%=' checked' if @config['server_rcon_enabled'].to_s.casecmp('True').zero? %>>
          <label class="custom-control-label" for="server_rcon_enabled">Enable RCON</label>
        </div>
      </div>
      <div class="col-2 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rcon_enabled', !$('#server_rcon_enabled')[0].checked); toggleChecked('#server_rcon_enabled');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rcon_enabled', $('#server_rcon_enabled')[0].checked);">Save</button>
        </div>
      </div>
      <div class="p-2 col"></div>
      <div class="p-2 col-3 justify-content-start">
        <div class="custom-control custom-switch p-2 ml-5">
          <input type="checkbox" class="custom-control-input server-config-checkbox-input" id="server_rcon_allow_console_commands"<%=' checked' if @config['server_rcon_allow_console_commands'].to_s.casecmp('True').zero? %>>
          <label class="custom-control-label" for="server_rcon_allow_console_commands">Allow Console Commands</label>
        </div>
      </div>
      <div class="p-2 col-2 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rcon_allow_console_commands', !$('#server_rcon_allow_console_commands')[0].checked); toggleChecked('#server_rcon_allow_console_commands');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rcon_allow_console_commands', $('#server_rcon_allow_console_commands')[0].checked);">Save</button>
        </div>
      </div>
    </div>

    <!-- Hang Recovery -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-3 d-inline-block">Hang Recovery <button type="button" class="btn btn-sm btn-secondary my-1 mx-2" data-toggle="tooltip" data-placement="left" title="" data-html="true" data-original-title="Automatically hard-restart this server if it fails local RCON queries for over 30 seconds." style="font-size: 125%;font-weight: bold;">?</button></div>
      <div class="p-2 col"></div>
      <div class="p-2 col-3 justify-content-start">
          <div class="custom-control custom-switch p-2 ml-5">
            <input type="checkbox" class="custom-control-input server-config-checkbox-input" id="hang_recovery" <%= 'checked' if @config['hang_recovery'].to_s.casecmp('true').zero? %>>
            <label class="custom-control-label" for="hang_recovery">Enable Automatic Hang Recovery</label>
          </div>
      </div>
      <div class="p-2 col-2 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'hang_recovery', !$('#hang_recovery')[0].checked); toggleChecked('#hang_recovery');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'hang_recovery', $('#hang_recovery')[0].checked);">Save</button>
        </div>
      </div>
    </div>

    <!-- Cheats -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-3">Cheats (disabled if GSLT set)</div>
      <div class="p-2 col"></div>
      <div class="p-2 col-3 justify-content-start">
          <div class="custom-control custom-switch p-2 ml-5">
            <input type="checkbox" class="custom-control-input server-config-checkbox-input" id="server_cheats" <%= 'checked' if @config['server_cheats'].to_s.casecmp('true').zero? %>>
            <label class="custom-control-label" for="server_cheats">Enable Cheats</label>
          </div>
      </div>
      <div class="p-2 col-2 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_cheats', !$('#server_cheats')[0].checked); toggleChecked('#server_cheats');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_cheats', $('#server_cheats')[0].checked);">Save</button>
        </div>
      </div>
    </div>

    <!-- Max Players -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">Max Players</div>
      <div class="p-2 col-1">Visible:</div>
      <div class="p-2 col-1">
        <input id="server_max_players" type="text" class="form-control server-config-text-input" placeholder="<%= @config['server_max_players'] %>">
      </div>
      <div class="p-2 col-2">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_max_players');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_max_players', $('#server_max_players').val());">Save</button>
        </div>
      </div>
      <div class="p-2 col-1">Actual:</div>
      <div class="p-2 col-1">
        <input id="server_max_players_override" type="text" class="form-control server-config-text-input" placeholder="<%= @config['server_max_players_override'] %>">
      </div>
      <div class="p-2 col-2">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_max_players_override');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_max_players_override', $('#server_max_players_override').val());">Save</button>
        </div>
      </div>
      <div class="col">
      </div>
    </div>

    <!-- Game Server Login Token (GSLT) -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-3 d-inline-block">Game Server Login Token (<a href="https://steamcommunity.com/dev/managegameservers" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-html="true" data-original-title="Use App ID <span class='monospace-font pre'> 581320 </span> (<span class='monospace-font pre'>887860 </span> for CTE)">GSLT</a>)</div>
      <div class="p-2 col-3">
        <input id="server_gslt" type="text" class="form-control server-config-text-input blur" placeholder="<%= @config['server_gslt'] %>">
      </div>
      <div class="p-2 col-2">
        <button id="server_gslt_revealer" type="button" class="btn btn-success horizontal-expand mr-4" onclick="revealHide('#server_gslt', '#server_gslt_revealer');">Reveal</button>
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_gslt');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_gslt', $('#server_gslt').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- Scenario Mode -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">Scenario Mode</div>
      <div class="p-2 col">
        <input id="server_scenario_mode" type="text" class="form-control server-config-text-input col-6" placeholder="<%= @config['server_scenario_mode'] %>">
        <ul class="nav nav-pills col-6">
          <li class="nav-item dropdown horizontal-expand text-center">
            <a class="nav-link dropdown-toggle btn-sm btn-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Scenario Mode</a>
            <div class="dropdown-menu horizontal-expand" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <% SCENARIO_MODES.sort.each do |mode| %>
              <a class="dropdown-item" onclick="$(`#server_scenario_mode`).val('<%= mode %>')"><%= mode %></a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="$(`#server_scenario_mode`).val('Random')">Random</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_scenario_mode');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_scenario_mode', $('#server_scenario_mode').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- Default Map -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">Default Map</div>
      <div class="p-2 col">
        <input id="server_default_map" type="text" class="form-control server-config-text-input col-6" placeholder="<%= @config['server_default_map'] %>">
        <ul class="nav nav-pills col-6">
          <li class="nav-item dropdown horizontal-expand text-center">
            <a class="nav-link dropdown-toggle btn-sm btn-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Maps</a>
            <div class="dropdown-menu horizontal-expand" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <% MAPMAP.values.sort.each do |map| %>
              <a class="dropdown-item" onclick="$(`#server_default_map`).val('<%= MAPMAP_INVERTED[map] %>')"><%= map %></a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="$(`#server_default_map`).val('Random')">Random</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_default_map');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_default_map', $('#server_default_map').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- Default Side -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2">Default Side</div>
      <div class="p-2 col">
        <input id="server_default_side" type="text" class="form-control server-config-text-input col-6" placeholder="<%= @config['server_default_side'] %>">
        <ul class="nav nav-pills col-6">
          <li class="nav-item dropdown horizontal-expand text-center">
            <a class="nav-link dropdown-toggle btn-sm btn-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Sides</a>
            <div class="dropdown-menu horizontal-expand" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <% SIDES.sort.each do |side| %>
              <a class="dropdown-item" onclick="$(`#server_default_side`).val('<%= side %>')"><%= side %></a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="$(`#server_default_side`).val('Random')">Random</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_default_side');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_default_side', $('#server_default_side').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- Mutators -->
    <div class="d-flex justify-content-between horizontal-expand bg-light my-1">
      <div class="p-2 col-2"><div class="d-inline-block">Mutators (<span class="monospace-font"><span id="mutator-count"><%= @config['server_mutators'].length %></span>/<%= MUTATORS.length %></span>)</div></div>
      <div class="p-2 col d-flex flex-wrap">
        <% MUTATORS.sort.each do |mutator, info| %>
          <div class="custom-control custom-switch col-4 justify-content-between my-1" onclick="setMutatorCount();" data-toggle="tooltip" data-placement="top" title="" data-original-title="<%= info['description'] %>">
            <input type="checkbox" class="custom-control-input server-config-mutator-input" id="server_mutator_<%= mutator %>" mutator-key="<%= mutator %>" <%= 'checked' if @config['server_mutators'].include?(mutator) %>>
            <label class="custom-control-label badge badge-secondary" for="server_mutator_<%= mutator %>" style="width: 100%; height: 100%;"><%= info['name'] %></label>
          </div>
        <% end %>
      </div>
      <div class="p-2 col-2"></div>
      <div class="p-2 col-1">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_mutators', $.makeArray($('.server-config-mutator-input').filter(':checked')).map((el)=> { return el.getAttribute('mutator-key');}) );">Save</button>
        </div>
      </div>
    </div>

    <!-- Config files -->
    <div class="d-flex flex-column justify-content-start horizontal-expand my-1 bg-light">
      <div class="d-flex justify-content-between horizontal-expand">
        <div class="ml-4 p-2 col-2 horizontal-expand">Config Files</div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#game-ini-tab"><span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Matching values from above will overwrite those below.">Game.ini</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#engine-ini-tab">Engine.ini</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#admins-txt-tab">Admins.txt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#mapcycle-txt-tab">MapCycle.txt</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#bans-json-tab"><span data-toggle="tooltip" data-placement="left" title="" data-original-title="We use one master Bans.json. Changing this will overwrite all your bans.">Bans.json</span></a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-between horizontal-expand align-items-start">
        <div id="config-files-tab-content" class="tab-content col-11 blur">
          <div class="tab-pane fade horizontal-expand active show" id="game-ini-tab">
            <textarea id="game-ini" class="m-2 config-file" file="Game.ini"><%= File.read(@game_ini) %></textarea>
          </div>
          <div class="tab-pane fade horizontal-expand" id="engine-ini-tab">
            <textarea id="engine-ini" class="m-2 config-file" file="Engine.ini"><%= File.read(@engine_ini) %></textarea>
          </div>
          <div class="tab-pane fade horizontal-expand" id="admins-txt-tab">
            <textarea id="admins-txt" class="m-2 config-file" file="Admins.txt"><%= File.read(@admins_txt) %></textarea>
          </div>
          <div class="tab-pane fade horizontal-expand" id="mapcycle-txt-tab">
            <textarea id="mapcycle-txt" class="m-2 config-file" file="MapCycle.txt"><%= File.read(@mapcycle_txt) %></textarea>
          </div>
          <div class="tab-pane fade horizontal-expand" id="bans-json-tab">
            <textarea id="bans-json" class="m-2 config-file" file="Bans.json"><%= File.read(@bans_json) %></textarea>
          </div>
        </div>
        <div class="d-flex flex-column p-2 col-1 ml-1 justify-content-end">
          <button id="config_file_revealer" type="button" class="btn btn-success horizontal-expand mr-4 m-1" onclick="revealHide('#config-files-tab-content', '#config_file_revealer');">Reveal</button>
          <button type="button" class="btn btn-info horizontal-expand mr-4 m-1" onclick="writeConfigFile($('#server-config-name').val() || $('#server-config-name').attr('placeholder'));">Save</button>
        </div>
      </div>
    </div>

    <!-- Ruleset -->
    <div class="d-flex justify-content-between horizontal-expand my-1" style="background-color: #111;">
      <div class="p-2 col-2 justify-content-between">Ruleset<button type="button" class="btn btn-sm btn-secondary my-1 mx-2" data-toggle="tooltip" data-placement="left" title="" data-html="true" data-original-title="This is deprecated as of Sandstorm version 1.4 (replaced by mutators)." style="font-size: 125%;font-weight: bold;">?</button></div>
      <div class="p-2 col">
        <input id="server_rule_set" type="text" class="form-control server-config-text-input col-6" placeholder="<%= @config['server_rule_set'] %>">
        <ul class="nav nav-pills col-6">
          <li class="nav-item dropdown horizontal-expand text-center">
            <a class="nav-link dropdown-toggle btn-sm btn-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Rulesets</a>
            <div class="dropdown-menu horizontal-expand" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <% RULE_SETS.sort.each do |rule_set| %>
              <a class="dropdown-item" onclick="$(`#server_rule_set`).val('<%= rule_set %>')"><%= rule_set %></a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="$(`#server_rule_set`).val('None')">None</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rule_set');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_rule_set', $('#server_rule_set').val());">Save</button>
        </div>
      </div>
    </div>

    <!-- Game Mode -->
    <div class="d-flex justify-content-between horizontal-expand my-1" style="background-color: #111;">
      <div class="p-2 col-2 justify-content-between">Game Mode<button type="button" class="btn btn-sm btn-secondary my-1 mx-2" data-toggle="tooltip" data-placement="left" title="" data-html="true" data-original-title="This is deprecated as of Sandstorm version 1.4 (replaced by mutators)." style="font-size: 125%;font-weight: bold;">?</button></div>
      <div class="p-2 col">
        <input id="server_game_mode" type="text" class="form-control server-config-text-input col-6" placeholder="<%= @config['server_game_mode'] %>">
        <ul class="nav nav-pills col-6">
          <li class="nav-item dropdown horizontal-expand text-center">
            <a class="nav-link dropdown-toggle btn-sm btn-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Game Modes</a>
            <div class="dropdown-menu horizontal-expand" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <% GAME_MODES.sort.each do |mode| %>
              <a class="dropdown-item" onclick="$(`#server_game_mode`).val('<%= mode %>')"><%= mode %></a>
              <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="$(`#server_game_mode`).val('None')">None</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="p-2 col-4 justify-content-end">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary m-1" onclick="undoServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_game_mode');">Undo</button>
          <button type="button" class="btn btn-info m-1 ml-4" onclick="setServerConfig($('#server-config-name').val() || $('#server-config-name').attr('placeholder'), 'server_game_mode', $('#server_game_mode').val());">Save</button>
        </div>
      </div>
    </div>

  </div>
</div>
